Specific CSS for your home-page
.container{
  width: 80vw;
}

.home-cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  flex-wrap: wrap;
}

.home h3{
  font-size: 30px;
  color: $sea-gray;
}
