<div class="footer">
  <div class="footer-links hidden-xs ">
    <p><em><a href="https://github.com/plestang/Loveboat"><i class="fab fa-github"></i></a>Spend your next holiday at sea</em></p>
  </div>
  <div>
    <a href="#"><%= image_tag 'buoy_logo_white.png' %></a> Loveboat
  </div>
  <div class="footer-links hidden-xs ">
    <p>This site is made with <a href="https://www.lewagon.com/"><i class="fas fa-heart"></i> </a>at Le Wagon</p>
  </div>
</div>
