<div class='search-form-container'>
  <div class="form-row">
    <%= form_tag boats_path, method: "GET" do |f| %>
      <div class="form-group col-md-6">
        <%= select_tag :query, options_for_select(["Sailboat","Motorboat","Catamaran","RIB","Houseboat"]), placeholder: "Description" , class: "form-control" %>
      </div>
      <div class="form-group col-md-6">
        <%= text_field_tag "address", value = "City", class: "form-control" %>
      </div>
      <div class="btn-container">
      <%= submit_tag "Discover", class: "btn-treehouse" %>
      </div>
    <% end %>
  </div>
 </div>

