<div class='boats-form-container'>
  <div class="form-row">
    <%= form_tag boats_path, method: "GET" do |f| %>
      <div class="form-group col-md-3">
        <%= select_tag :query, options_for_select(["Sailboat","Motorboat","Catamaran","RIB","Houseboat"]), placeholder: "Description" , class: "form-control" %>
      </div>
      <div class="form-group col-md-3">
        <%= select_tag :address, options_for_select(["Ajaccio","Antibes","Arcachon","Argelès-sur-Mer","Ars-en-Ré","Arzal","Arzon","Bandol","Banyuls-sur-Mer","Bastia","Beaulieu-sur-Mer","Bénodet","Bormes-les-Mimosas","Boulogne-sur-Mer","Brest","Camaret-sur-Mer","Canet-en-Roussillon","Cap d'Agde","Capbreton","Carnon","Carry-le-Rouet","Cavalaire","Cerbère","Cherbourg","Cogolin","Collioure","Courseulles-sur-Mer","Crozon-Morgat","Deauville","Dieppe","Dives-sur-Mer","Dunkerque","Etaples-sur-Mer","Fécamp","Fos-sur-Mer","Fréjus","Frontignan","Golfe-Juan","Granville","Gravelines","Gruissan","Hendaye","Hyeres","Île d'Yeu","Juan-les-Pins","La Baule et Le Pouliguen","La Ciotat","La Forêt-Fouesnant","La Grande-Motte","La Londe-les-Maures","La Roche-Bernard","La Rochelle","La Trinité-sur-Mer","La Turballe","Le Barcarès","Le Brusc","Le Croisic","Le Grau-du-Roi","Le Havre","Le Lavandou","Le Verdon-sur-Mer","Les Issambres","Les Sables-d'Olonne","Lézardrieux","Loctudy","Lorient","Macinaggio","Mandelieu-la-Napoule","Marseille","Menton","Monaco","Narbonne-Plage","Nice","Ouistreham","Palavas-les-Flots","Perros-Guirec","Piriac-sur-Mer","Pléneuf-Val-André","Pornic","Pornichet","Porquerolles","Port Vendres","Port-Grimaud","Port-Leucate","Port-Saint-Louis-du-Rhône","Quiberon","Royan","Saint-Cast-le-Guildo","Saint-Cyprien","Saint-Cyr-sur-Mer","Saint-Denis-d'Oléron","Saint-Florent","Saint-Gilles-Croix-de-Vie","Saint-Jean-Cap-Ferrat","Saint-Laurent-du-Var","Saint-Malo","Saint-Mandrier","Saint-Pierre-les-Embiez","Saint-Quay-Portrieux","Saint-Raphaël","Saint-Tropez","Saint-Vaast-la-Hougue","Saint-Valery-en-Caux","Sainte-Marie-de-la-Mer","Sainte-Marine","Sainte-Maxime","Sanary","Sausset-les-Pins","Sète","Talmont-Saint-Hilaire","Toulon","Trébeurden","Villefranche-sur-Mer"]), placeholder: "City", class: "form-control select2" %>
      </div>
      <div class="form-group col-md-3 btn-container">
      <%= submit_tag "Discover", class: "btn-treehouse" %>
      </div>
    <% end %>
  </div>
</div>
