<div class="content">
<div class="text-center">
  <div class="banner text-center" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "home_cover.jpg" %>');">

      <div class="banner-content">
        <h1>Loveboat</h1>
        <p>Find your new home on the sea</p>
        <%= render "shared/selection_form" %>
      </div>
    </div>

</div>

<div class="container home">
  <h3 class="text-center">Why not one of them?</h3>
<%= render "shared/card" %>
</div>
</div>
