.btn-treehouse {
  color: white;
  padding: 5px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: $sea-peach;
  transition: background 0.3s ease;
  opacity: 0.9;
}

.btn-treehouse:hover {
  color: white;
  opacity: 1;
  background: $sea-peach;
  text-decoration: none;
  color: white;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 15px;
}
