.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  flex: 0 0 30%;
}

.card-trip img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  position: absolute;
  top: 24px;
}

.card-trip p {
  font-size: 12px;
  opacity: 0.7;
  margin: 0;
}

.card-trip-pricing {
  color: $sea-peach;
  font-weight: bold;
}

.padding-left {
  padding-left: 12px;
}
.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: flex-end;
}


.card-trip-infos a {
  font-size: .8em;
  color: $sea-peach;
}


.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.star-ratings {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 15px;
  height: 35px;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;

  &-top {
    color: rgba(0,0,0,0.5);
    opacity: 0.7;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &-bottom {
    opacity: 0.3;
    padding: 0;
    display: block;
    z-index: 0;
  }
}

.point-size{
font-size: 8px;
}

.width_card{
  width: 95%;
}
