.footer {
  background: $blue-light;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: white;
  border-color: white;
  border-top: 1px solid white;
}

.footer p {
  font-size: .8em;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: .7;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: $sea-peach;
}

.footer img {
  height: 40px;
}
