.main-description{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}
.photo-banner {
  background-size: cover;
  background-position: center;
  height: 60vh;
}
#photo-banner {
  position: relative;
  margin-bottom: 40px;
  > .avatar-100px {
    position: absolute;
    bottom: - 50px;
    left: 50px;
  }
}

.options{
  display:flex;
  border-top: 1px solid rgb(220,220,220);
  border-bottom: 1px solid rgb(220,220,220);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -47px;
}

.options p{
  font-weight:bold;
  font-style: italic;
  color:gray;
}
.display_inline{
  display:flex;
  text-align: center;
  margin-bottom: 55px;
  margin-top: -166px;
}

