.main-description{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}
.photo-banner {
  background-size: cover;
  background-position: center;
  height: 60vh;
}
#photo-banner {
  position: relative;
  margin-bottom: 50px;
  > .avatar-100px {
    position: absolute;
    bottom: - 50px;
    left: 50px;
  }
}
