@media (min-width: 1100px) {
  .message {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 950px;
    border-bottom: 1px solid rgba(220,224,244,0.4);
  }
}

@media (min-width: 568px) {
  .message {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(220,224,244,0.4);
  }
}

@media (max-width: 568px) {
.message {
    display: block;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(220,224,244,0.4);
  }
}

.message a {
  color: $sea-peach;
}

.message:last-child {
  border-bottom: none;
}

.message-name {
  flex-grow: 1;
  padding: 30px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);

}

.message-name strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}

.message-date {
  padding: 30px;

}
.message-date {
  // padding-left: 20px;

  font-size: 13px;
  color: rgba(0,0,0,0.7);
}

.message-date strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}


.message-status {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}
.status.accepted {
  color: #04A366;
}
.status.declined {
  color: red;
}
.status.pending {
  color: lightgrey;
}

.message-edit {
  padding: 30px;
  // padding-left: 40px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
}

