.title{
  display: flex;
  justify-content: space-around;
  height: 170px;
  margin-top: -40px;
  i{
    font-size: 30px;
  }
}

.icon-column{
  font-size: 30px;
  opacity: .4;
  text-align: center;
}
