<div id="photo-banner" class="photo-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path('pexels-photo-273886.jpg') %>');">
  <%= image_tag "https://via.placeholder.com/100", class: "avatar-100px" %>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class="main-description">
        <div class="description">
          <div class="title">

          </div>
          <div class="row">
            <div class="options">

              <p> Logos to be inserted ou free text</p>
            </div>
            <div class="boat-text">
          </div>
            <h3><%= @boat.description %></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto sapiente porro perspiciatis, maiores asperiores ab dolorum. Magnam nostrum possimus quis, error cupiditate voluptatem odio modi praesentium, totam libero tenetur.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3">
      <div class="booking">
        <button class="btn btn-primary" id="book_btn">
          Book
        </button>
      </div>
    </div>
  </div>
</div>
