<div class="row">
  <div class="photo-banner">
    <div class="avatar">
    </div>
  </div>
</div>
<div class="row">
  <div class="main-description">
    <div class="description">
      <div class="title">

      </div>
      <div class="options">

        <p> Logos to be inserted ou free text</p>
      </div>
      <div class="boat-text">
        <h3><%= @boat.description %></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet architecto sapiente porro perspiciatis, maiores asperiores ab dolorum. Magnam nostrum possimus quis, error cupiditate voluptatem odio modi praesentium, totam libero tenetur.</p>
      </div>
    </div>
    <div class="booking">
      <button class="btn btn-primary">
        Book
      </button>
    </div>
  </div>
</div>
